@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<DynamicTag.Component1></DynamicTag.Component1>

<DynamicTag.DynamicTag Tag="hola">que tal</DynamicTag.DynamicTag>
