@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<DynamicTag.Component1></DynamicTag.Component1>

<DynamicTag.DynamicTag Tag="span" class="alert alert-primary" title="hello">
	hello <strong>!!!</strong>
</DynamicTag.DynamicTag>
